apiVersion: 1
prune: true
datasources:
  - name: trickster
    type: prometheus
    access: proxy
    orgId: 1
    url: http://trickster.pub-metrics.svc:8480
    isDefault: True
    version: 1
    editable: False
    uid: PB06BBC9CA81C548D
    jsonData:
      customQueryParameters: "max_source_resolution=0"
  - name: prometheus-no-history
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus.pub-metrics.svc:9090
    isDefault: False
    version: 1
    editable: False
  - name: block-data
    type: mysql
    url: "proxysql-generic.proxysql:3306"
    uid: P00A25F4DA48796D5
    user: '{{ GRAFANA_PUB_READ_USERNAME }}'
    jsonData:
      database: blocks
    secureJsonData:
      password: '{{ GRAFANA_PUB_READ_PASSWORD }}'
