apiVersion: 1
datasources:
  - name: trickster
    type: prometheus
    access: proxy
    orgId: 1
    url: http://trickster.prometheus.svc:8480
    isDefault: True
    version: 1
    editable: False
    uid: PB06BBC9CA81C548D
    jsonData:
      customQueryParameters: "maxSourceResolution=0"
  - name: prometheus-no-history
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus.prometheus.svc:9090
    isDefault: False
    version: 1
    editable: False
  - name: block-data
    type: mysql
    url: {{ BLOCK_METRICS_DB_HOST }}:3306
    uid: P00A25F4DA48796D5
    user: '{{ BLOCK_METRICS_USER }}'
    jsonData:
      database: blocks
    secureJsonData:
      password: '{{ BLOCK_METRICS_PASSWORD }}'
