apiVersion: 1
datasources:
  - name: trickster
    type: prometheus
    access: proxy
    orgId: 1
    url: http://trickster.prometheus.svc:8480
    isDefault: True
    version: 1
    editable: False
  - name: prometheus-no-history
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus.prometheus.svc:9090
    isDefault: False
    version: 1
    editable: False
  - name: block-data
    type: mysql
    url: {{ BLOCK_METRICS_DB_HOST }}:3306
    database: blocks
    user: '{{ BLOCK_METRICS_USER }}'
    secureJsonData:
      password: '{{ BLOCK_METRICS_PASSWORD }}'
