replicaCount: {{ REPLICAS }}

image:
  pullPolicy: Always
  tag: {{ IMAGE_TAG }}

deployCert: {{ HOSTNAME == 'dashboard.chia.net' }}

podAnnotations:
  github-job: {{ RUN_ID_ATTEMPT }}

ingress:
  hostname: {{ HOSTNAME }}
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      location ~ ^/(swagger|metrics|admin|datasources|connections/datasources|openapi) {
        return 403;
      }

env:
  - name: GF_SERVER_ROOT_URL
    value: "https://{{ HOSTNAME }}"

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/instance
                operator: In
                values:
                  - grafana
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - pub-metrics-grafana
          topologyKey: failure-domain.beta.kubernetes.io/zone
        weight: 100
      - podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/instance
                operator: In
                values:
                  - grafana
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - pub-metrics-grafana
          topologyKey: kubernetes.io/hostname
        weight: 100

networkPolicy:
  enabled: true
  policyTypes:
    - Egress
  egressRules:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: proxysql
      ports:
        - protocol: TCP
          port: 3306
        - protocol: TCP
          port: 6033
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: pub-metrics
      ports:
        - protocol: TCP
          port: 8480
        - protocol: TCP
          port: 9090
        - protocol: TCP
          port: 9093
