name: Deploy Review App

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  id-token: write
  contents: read
  packages: write
  pull-requests: write

concurrency:
  group: ${{ github.event.pull_request.number }}

jobs:
  package:
    uses: Chia-Network/actions/.github/workflows/docker-build.yaml@main

  deploy:
    needs:
      - package
    runs-on: k8s-public-msp
    container:
      image: registry.gitlab.com/cmmarslender/kubectl-helm:v3
    environment:
      name: Review ${{ github.event.pull_request.number }}
      url: https://${{ github.event.pull_request.number }}.dashboard.chia.net
    steps:
      - uses: actions/checkout@v6

      - name: Vault Login
        uses: Chia-Network/actions/vault/login@main
        with:
          vault_url: ${{ secrets.VAULT_URL }}
          role_name: github-pub-metrics-grafana

      - name: Get secrets from vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_URL }}
          token: ${{ env.VAULT_TOKEN }}
          secrets: |
            secret/data/msp/k8s/k8s-msp api_server_url | K8S_API_SERVER_URL;
            secret/data/msp/mysql/users/grafana-read-pub username | GRAFANA_PUB_READ_USERNAME;
            secret/data/msp/mysql/users/grafana-read-pub password | GRAFANA_PUB_READ_PASSWORD;

      - name: Template grafana configs
        run: |
          j2 templates/datasources.yaml.j2 -o helm/pub-metrics-grafana/datasources

      - name: Login to k8s cluster
        uses: Chia-Network/actions/vault/k8s-login@main
        with:
          vault_url: ${{ secrets.VAULT_URL }}
          vault_token: ${{ env.VAULT_TOKEN }}
          backend_name: k8s-msp
          role_name: github-actions
          cluster_url: ${{ env.K8S_API_SERVER_URL }}

      - uses: Chia-Network/actions/helm/deploy@main
        env:
          REPLICAS: 1
          HOSTNAME: "${{ github.event.pull_request.number }}.dashboard.chia.net"
          IMAGE_TAG: "sha-${{ github.sha }}"
          REVIEW_SLUG: ${{ github.event.pull_request.number }}
          RUN_ID_ATTEMPT: "${{ github.run_id }}-${{ github.run_attempt }}"
        with:
          namespace: grafana-pub
          app_name: "grafana-${{ env.REVIEW_SLUG }}"
          helm_chart: "./helm/pub-metrics-grafana"
          helm_values: "./helm/values.yaml"
